## nested loop

In [21]:
for i in range(10,16,1):
    print("student",i)
    for marks in range(1,6):
        print(marks,"sub")

student 10
1 sub
2 sub
3 sub
4 sub
5 sub
student 11
1 sub
2 sub
3 sub
4 sub
5 sub
student 12
1 sub
2 sub
3 sub
4 sub
5 sub
student 13
1 sub
2 sub
3 sub
4 sub
5 sub
student 14
1 sub
2 sub
3 sub
4 sub
5 sub
student 15
1 sub
2 sub
3 sub
4 sub
5 sub

In [23]:
for i in range(16,10,-1):
    print("student",i)
    for marks in range(1,6):
        print(marks,"sub")

student 16
1 sub
2 sub
3 sub
4 sub
5 sub
student 15
1 sub
2 sub
3 sub
4 sub
5 sub
student 14
1 sub
2 sub
3 sub
4 sub
5 sub
student 13
1 sub
2 sub
3 sub
4 sub
5 sub
student 12
1 sub
2 sub
3 sub
4 sub
5 sub
student 11
1 sub
2 sub
3 sub
4 sub
5 sub

In [35]:
for i in range(10,16,1):
    print("student",i)
    for marks in range(5,0,-1):
        print(marks,"sub")

student 10
5 sub
4 sub
3 sub
2 sub
1 sub
student 11
5 sub
4 sub
3 sub
2 sub
1 sub
student 12
5 sub
4 sub
3 sub
2 sub
1 sub
student 13
5 sub
4 sub
3 sub
2 sub
1 sub
student 14
5 sub
4 sub
3 sub
2 sub
1 sub
student 15
5 sub
4 sub
3 sub
2 sub
1 sub

In [57]:
for i in range(1,6):
    print("student",i)
    for marks in range(1,i+1):
        print(marks,"sub")

student 1
1 sub
student 2
1 sub
2 sub
student 3
1 sub
2 sub
3 sub
student 4
1 sub
2 sub
3 sub
4 sub
student 5
1 sub
2 sub
3 sub
4 sub
5 sub

In [131]:
for i in range(4,0,-1):
    print("student",i)
    for marks in range(i,5):
        print("sub",marks)

student 4
sub 4
student 3
sub 3
sub 4
student 2
sub 2
sub 3
sub 4
student 1
sub 1
sub 2
sub 3
sub 4

In [142]:
for i in range(1,6):
    print("student",i)
    for marks in range(1,i+1):
        print(marks,"sub")
    print("--tea---")

student 1
1 sub
--tea---
student 2
1 sub
2 sub
--tea---
student 3
1 sub
2 sub
3 sub
--tea---
student 4
1 sub
2 sub
3 sub
4 sub
--tea---
student 5
1 sub
2 sub
3 sub
4 sub
5 sub
--tea---

In [174]:
i=1
for i in range(2,8,1):
    for j in range(1,11,1):
        print(f"{i}*{j}={i*j} ")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [181]:
for i in range(8,2,-1):
    for j in range(10,0,-1):
        print(f"{i}*{j}={i*j} ",end="")
        print("--tea")

8*10=80 --tea
8*9=72 --tea
8*8=64 --tea
8*7=56 --tea
8*6=48 --tea
8*5=40 --tea
8*4=32 --tea
8*3=24 --tea
8*2=16 --tea
8*1=8 --tea
7*10=70 --tea
7*9=63 --tea
7*8=56 --tea
7*7=49 --tea
7*6=42 --tea
7*5=35 --tea
7*4=28 --tea
7*3=21 --tea
7*2=14 --tea
7*1=7 --tea
6*10=60 --tea
6*9=54 --tea
6*8=48 --tea
6*7=42 --tea
6*6=36 --tea
6*5=30 --tea
6*4=24 --tea
6*3=18 --tea
6*2=12 --tea
6*1=6 --tea
5*10=50 --tea
5*9=45 --tea
5*8=40 --tea
5*7=35 --tea
5*6=30 --tea
5*5=25 --tea
5*4=20 --tea
5*3=15 --tea
5*2=10 --tea
5*1=5 --tea
4*10=40 --tea
4*9=36 --tea
4*8=32 --tea
4*7=28 --tea
4*6=24 --tea
4*5=20 --tea
4*4=16 --tea
4*3=12 --tea
4*2=8 --tea
4*1=4 --tea
3*10=30 --tea
3*9=27 --tea
3*8=24 --tea
3*7=21 --tea
3*6=18 --tea
3*5=15 --tea
3*4=12 --tea
3*3=9 --tea
3*2=6 --tea
3*1=3 --tea

In [215]:
for i in range(1,6):
    for j in range(1,6):
        print("*",end=" ")
    print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [213]:
for i in range(1,5):
    for j in range(1,5):
        print("*",end=" ")
    print(" ")

* * * *
* * * *
* * * *
* * * *

In [217]:
for i in range(1,5):
    for j in range(1,5):
        print(i,end=" ")
    print(" ")

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [221]:
for i in range(2,5):
    for j in range(1,5):
        print(i,end=" ")
    print(" ")

2 2 2 2
3 3 3 3
4 4 4 4

In [223]:
for i in range(1,5):
    for j in range(1,5):
        print(j,end=" ")
    print(" ")

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [229]:
for i in range(1,5):
    for j in range(4,0,-1):
        print(j,end=" ")
    print(" ")

4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [235]:
for i in range(4,2,-1):
    for j in range(1,5):
        print(i,end=" ")
    print(" ")

4 4 4 4
3 3 3 3

In [257]:
num=0
for i in range(1,4):
    for j in range(1,5):
        num+=1
        print(num,end=" ")
    print(" ")

1 2 3 4
5 6 7 8
9 10 11 12

In [261]:
num=1
for i in range(1,4):
    for j in range(1,5):
        
        print(num,end=" ")
    print(" ")

1 1 1 1
1 1 1 1
1 1 1 1

In [299]:

for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [283]:
num=0
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [305]:
num=10
for i in range(1,4):
    for j in range(1,i+1):
         
        print(num,end=" ")
        num+=1
    print(" ")

10
11 12
13 14 15

In [311]:
num=15
for i in range(1,4):
    for j in range(1,i+1):
         
        print(num,end=" ")
        num-=1
    print(" ")

15
14 13
12 11 10

In [339]:
for i in range(1,4):
    num=65
    for j in range(1,i+1):
         
        print(chr(num),end=" ")
        num+=1
    print(" ")

A
A B
A B C

In [333]:
for i in range(1,4):
    num=65
    for j in range(1,i+1):
         
        print(num,end=" ")
        num+=1
    print(" ")

65
65 66
65 66 67

In [341]:
for i in range(1,4):
    num=65
    for j in range(97,97+i):
         
        print(chr(j),end=" ")
        num+=1
    print(" ")

a
a b
a b c